openapi: 3.0.0
info:
  title: ITGlue API
  version: 1.0.0
  description: 'Generated from https://github.com/jmaddington/ITG-Glue-OpenAPI


    This document strives to accurately represent IT Glue''s API in the OpenAPI 3.0
    format, but is best effort only. This is NOT

    an official IT Glue or Kaseya document.


    Find official documentation at https://api.itglue.com/developer/

    Details of pagination at https://help.itglue.kaseya.com/help/Content/1-admin/it-glue-api/pagination-in-the-it-glue-api.html

    Details of sorts and filters at https://help.itglue.kaseya.com/help/Content/1-admin/it-glue-api/sorting-and-filtering-in-the-it-glue-api.html


    **Authentication/Request Headers**

    All API requests require the following headers:

    - `x-api-key: {{api-token}}`

    - `Content-Type: application/vnd.api+json`


    Note: If the request does not have a payload, the `Content-Type` header is not
    required.'
servers:
- url: https://api.itglue.com
  description: Default API server
- url: https://api.eu.itglue.com
  description: EU data center
- url: https://api.au.itglue.com
  description: Australia data center
paths:
  /checklists:
    get:
      summary: List all checklists
      description: 'Returns a list of checklists in your account.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:completed,created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - completed
          - created_at
          - updated_at
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[organization_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: include
        in: query
        description: Must be one of:attachments,checklist_tasks,user_resource_accesses,group_resource_accesses.
        required: false
        schema:
          type: string
          enum:
          - attachments
          - checklist_tasks
          - user_resource_accesses
          - group_resource_accesses
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Checklists
    post:
      summary: Create checklists
      description: Creates a checklist. Returns the created object if successful.
      parameters:
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Checklists
    patch:
      summary: Bulk update checklists
      description: Updates a list of checklists.
      parameters:
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Checklists
    delete:
      summary: Bulk delete checklists
      description: Deletes one or more specified checklists.
      parameters:
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Checklists
  /checklists/copy:
    post:
      summary: Copy checklists
      description: Copies multiple checklists. Returns the created objects if successful.
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Checklists
  /checklists/{id}:
    get:
      summary: Get a specific checklist by ID
      description: 'Returns the details of an existing checklist.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      - name: include
        in: query
        description: Must be one of:attachments,checklist_tasks,user_resource_accesses,group_resource_accesses,recent_versions,related_items,authorized_users.
        required: false
        schema:
          type: string
          enum:
          - attachments
          - checklist_tasks
          - user_resource_accesses
          - group_resource_accesses
          - recent_versions
          - related_items
          - authorized_users
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Checklists
    patch:
      summary: Update a specific checklist
      description: Updates an existing checklist. Returns the updated object if successful.
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Checklists
  /checklists/{id}/copy:
    post:
      summary: Copy checklists
      description: Copies a checklist. Returns the created object(s) if successful.
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: Must be one of:checklists.
        required: true
        schema:
          type: string
          enum:
          - checklists
      - name: attributes
        in: query
        description: Must be a Hash
        required: true
        schema:
          type: object
      - name: attributes[id]
        in: query
        description: Required identifier for bulk copies
        required: false
        schema:
          type: integer
      - name: attributes[organization_id]
        in: query
        description: Organization to copy to. Required if organization_ids not provided.
        required: false
        schema:
          type: integer
      - name: attributes[organization_ids]
        in: query
        description: Used instead of organization_id for copying checklist to multiple
          organizations
        required: false
        schema:
          type: string
      - name: attributes[keep_assignees]
        in: query
        description: Retains assignees when copying checklists, defaults false
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
      - name: attributes[keep_due_dates]
        in: query
        description: Retains due dates when copying checklists, defaults false
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Checklists
  /configuration_interfaces:
    post:
      summary: Create configuration interfaces
      description: Creates a new configuration interface under the configuration specified
        in the ID parameter.         Returns the created object if successful. Use
        the nested relationships route to add multiple         configuration interfaces
        to a configuration in bulk.
      parameters:
      - name: configuration_id
        in: query
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Interfaces
    patch:
      summary: Bulk update configuration interfaces
      description: Updates a list of configuration interfaces, also known as bulk
        updating. Bulk updates using a nested         relationships route are not
        supported. Returns 422 Bad Request error if trying to update         an externally
        synced, primary IP address.
      parameters:
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[ip_address]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Interfaces
  /configuration_interfaces/{id}:
    get:
      summary: Get a specific configuration interface by ID
      description: 'Returns the details of an existing configuration interface.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      - name: configuration_id
        in: query
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Interfaces
    patch:
      summary: Update a specific configuration interface
      description: Updates the details of an existing configuration interface. Returns
        422 Bad Request error         if trying to update an externally synced, primary
        IP address.
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: configuration_id
        in: query
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Interfaces
  /configuration_statuses:
    get:
      summary: List all configuration statuses
      description: 'Returns a list of the configuration statuses in your account.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:name,id,created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - name
          - id
          - created_at
          - updated_at
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[name]
        in: query
        description: exact match only
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Statuses
    post:
      summary: Create configuration statuses
      description: Creates a new configuration status in your account. Returns the
        created object if successful.
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Statuses
  /configuration_statuses/{id}:
    get:
      summary: Get a specific configuration statuse by ID
      description: 'Returns the details of an existing configuration status.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Statuses
    patch:
      summary: Update a specific configuration statuse
      description: Updates a configuration status in your account. Returns 422 Bad
        Request error if trying to update an externally synced record.
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Statuses
  /configuration_types:
    get:
      summary: List all configuration types
      description: 'Returns a list of configuration types in your account.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:name,id,created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - name
          - id
          - created_at
          - updated_at
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[name]
        in: query
        description: exact match only
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Types
    post:
      summary: Create configuration types
      description: Creates a new configuration type in your account. Returns the created
        object if successful.
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Bad Request
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Types
  /configuration_types/{id}:
    get:
      summary: Get a specific configuration type by ID
      description: 'Returns the details of an existing configuration type.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Types
    patch:
      summary: Update a specific configuration type
      description: Updates a configuration type in your account. Returns 422 Bad Request
        error if trying to update an externally synced record.
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Types
  /configurations:
    get:
      summary: List all configurations
      description: 'Returns a list of configurations for all organizations or for
        a specified organization.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:name,id,created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - name
          - id
          - created_at
          - updated_at
      - name: filter[name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[status]
        in: query
        description: Filter results by status
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_type_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_status_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[contact_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[serial_number]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[mac_address]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[asset_tag]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_id]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
          enum:
          - manage
          - autotask
          - tigerpaw
          - kaseya-bms
          - pulseway-psa
          - vorex
      - name: filter[rmm_id]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[rmm_integration_type]
        in: query
        description: Must be one of:addigy,aem,atera,auvik,managed-workplace,continuum,jamf-pro,kaseya-vsa,automate,log-me-in,msp-rmm,meraki,msp-n-central,ninja-rmm,panorama9,pulseway-rmm,syncro,watchman-monitoring,office365,vsa-x.
        required: false
        schema:
          type: string
          enum:
          - addigy
          - aem
          - atera
          - auvik
          - managed-workplace
          - continuum
          - jamf-pro
          - kaseya-vsa
          - automate
          - log-me-in
          - msp-rmm
          - meraki
          - msp-n-central
          - ninja-rmm
          - panorama9
          - pulseway-rmm
          - syncro
          - watchman-monitoring
          - office365
          - vsa-x
      - name: filter[archived]
        in: query
        description: Must be one of:true,false,1,0.
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: include
        in: query
        description: Must be one of:adapters_resources,configuration_interfaces,rmm_records,passwords,attachments,tickets,dnet_fa_remote_assets,user_resource_accesses,group_resource_accesses.
        required: false
        schema:
          type: string
          enum:
          - adapters_resources
          - configuration_interfaces
          - rmm_records
          - passwords
          - attachments
          - tickets
          - dnet_fa_remote_assets
          - user_resource_accesses
          - group_resource_accesses
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Configurations
    post:
      summary: Create configurations
      description: Creates a configuration under the organization specified in the
        ID parameter. Returns the created object         if successful. Use the nested
        relationships route to add multiple configurations to an organization in bulk.
      parameters:
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configurations
    patch:
      summary: Bulk update configurations
      description: 'Updates a list of items, also known as bulk updating. Bulk updates
        using a nested relationships route are not supported.         Returns 422
        Unprocessable Entity error if any relationships are present in the request.         Returns
        422 Unprocessable Entity error if trying to update an externally synced record
        on         attributes other than: archived, asset_tag, notes, purchased_at,
        restricted, serial_number, warranty_expires_at, mitp_device_expiration_date,
        mitp_end_of_life_date'
      parameters:
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_type_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_status_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[contact_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[serial_number]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[mac_address]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[asset_tag]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_id]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
          enum:
          - manage
          - autotask
          - tigerpaw
          - kaseya-bms
          - pulseway-psa
          - vorex
      - name: filter[rmm_id]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[rmm_integration_type]
        in: query
        description: Must be one of:addigy,aem,atera,auvik,managed-workplace,continuum,jamf-pro,kaseya-vsa,automate,log-me-in,msp-rmm,meraki,msp-n-central,ninja-rmm,panorama9,pulseway-rmm,syncro,watchman-monitoring,office365,vsa-x.
        required: false
        schema:
          type: string
          enum:
          - addigy
          - aem
          - atera
          - auvik
          - managed-workplace
          - continuum
          - jamf-pro
          - kaseya-vsa
          - automate
          - log-me-in
          - msp-rmm
          - meraki
          - msp-n-central
          - ninja-rmm
          - panorama9
          - pulseway-rmm
          - syncro
          - watchman-monitoring
          - office365
          - vsa-x
      - name: filter[archived]
        in: query
        description: Must be one of:true,false,1,0.
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configurations
    delete:
      summary: Bulk delete configurations
      description: Deletes one or more specified configurations. Returns the deleted
        configurations and a 200 status code if successful.
      parameters:
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_type_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_status_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[contact_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[serial_number]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[mac_address]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[asset_tag]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_id]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
          enum:
          - manage
          - autotask
          - tigerpaw
          - kaseya-bms
          - pulseway-psa
          - vorex
      - name: filter[rmm_id]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[rmm_integration_type]
        in: query
        description: Must be one of:addigy,aem,atera,auvik,managed-workplace,continuum,jamf-pro,kaseya-vsa,automate,log-me-in,msp-rmm,meraki,msp-n-central,ninja-rmm,panorama9,pulseway-rmm,syncro,watchman-monitoring,office365,vsa-x.
        required: false
        schema:
          type: string
          enum:
          - addigy
          - aem
          - atera
          - auvik
          - managed-workplace
          - continuum
          - jamf-pro
          - kaseya-vsa
          - automate
          - log-me-in
          - msp-rmm
          - meraki
          - msp-n-central
          - ninja-rmm
          - panorama9
          - pulseway-rmm
          - syncro
          - watchman-monitoring
          - office365
          - vsa-x
      - name: filter[archived]
        in: query
        description: Must be one of:true,false,1,0.
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configurations
  /configurations/{configuration_id}/relationships/configuration_interfaces:
    get:
      summary: List all configuration interfaces
      description: 'Returns the configuration interfaces for a specified configuration.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: configuration_id
        in: path
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - created_at
          - updated_at
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[ip_address]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Interfaces
    post:
      summary: Create configuration interfaces
      description: Creates a new configuration interface under the configuration specified
        in the ID parameter.         Returns the created object if successful. Use
        the nested relationships route to add multiple         configuration interfaces
        to a configuration in bulk.
      parameters:
      - name: configuration_id
        in: path
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Interfaces
  /configurations/{configuration_id}/relationships/configuration_interfaces/{id}:
    get:
      summary: Get a specific configuration interface by ID
      description: 'Returns the details of an existing configuration interface.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: configuration_id
        in: path
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Interfaces
    patch:
      summary: Update a specific configuration interface
      description: Updates the details of an existing configuration interface. Returns
        422 Bad Request error         if trying to update an externally synced, primary
        IP address.
      parameters:
      - name: configuration_id
        in: path
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Interfaces
    delete:
      summary: Delete a specific configuration interface
      description: Delete a configuration interface. Returns a 204 status code if
        successful.
      parameters:
      - name: configuration_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Configuration Interfaces
  /configurations/{id}:
    get:
      summary: Get a specific configuration by ID
      description: 'Returns the details of an existing configuration.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      - name: include
        in: query
        description: Must be one of:adapters_resources,configuration_interfaces,rmm_records,rmm_adapters_resources,passwords,attachments,tickets,adapters_resources_errors,rmm_adapters_resources_errors,active_network_glue_network_devices,to_configuration_connections,from_configuration_connections,dnet_fa_remote_assets,user_resource_accesses,group_resource_accesses,recent_versions,related_items,authorized_users.
        required: false
        schema:
          type: string
          enum:
          - adapters_resources
          - configuration_interfaces
          - rmm_records
          - rmm_adapters_resources
          - passwords
          - attachments
          - tickets
          - adapters_resources_errors
          - rmm_adapters_resources_errors
          - active_network_glue_network_devices
          - to_configuration_connections
          - from_configuration_connections
          - dnet_fa_remote_assets
          - user_resource_accesses
          - group_resource_accesses
          - recent_versions
          - related_items
          - authorized_users
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Configurations
    patch:
      summary: Update a specific configuration
      description: 'Updates the details of an existing configuration.         Returns
        422 Unprocessable Entity error if any relationships are present in the request.         Returns
        422 Unprocessable Entity error if trying to update an externally synced record
        on         attributes other than: archived, asset_tag, notes, purchased_at,
        restricted, serial_number, warranty_expires_at, mitp_device_expiration_date,
        mitp_end_of_life_date'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Configurations
  /contact_types:
    get:
      summary: List all contact types
      description: 'Returns a list of contact types in your account.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:name,id,created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - name
          - id
          - created_at
          - updated_at
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[name]
        in: query
        description: exact match only
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Contact Types
    post:
      summary: Create contact types
      description: Creates a new contact type in your account. Returns the created
        object if successful.
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Contact Types
  /contact_types/{id}:
    get:
      summary: Get a specific contact type by ID
      description: 'Returns the details of an existing contact type.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Contact Types
    patch:
      summary: Update a specific contact type
      description: Updates a contact type in your account. Returns 422 Bad Request
        error if trying to update         an externally synced record.
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Contact Types
  /contacts:
    get:
      summary: List all contacts
      description: 'Returns a list of contacts for all organizations or for a specified
        organization.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:first_name,last_name,id,created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - first_name
          - last_name
          - id
          - created_at
          - updated_at
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[first_name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[last_name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[title]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[contact_type_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[important]
        in: query
        description: Must be one of:true,false,1,0.
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
      - name: filter[primary_email]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[psa_id]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
          enum:
          - manage
          - autotask
          - tigerpaw
          - kaseya-bms
          - pulseway-psa
          - vorex
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: include
        in: query
        description: Must be one of:adapters_resources,location,passwords,attachments,tickets,distinct_remote_contacts,resource_fields,user_resource_accesses,group_resource_accesses.
        required: false
        schema:
          type: string
          enum:
          - adapters_resources
          - location
          - passwords
          - attachments
          - tickets
          - distinct_remote_contacts
          - resource_fields
          - user_resource_accesses
          - group_resource_accesses
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Contacts
    post:
      summary: Create contacts
      description: Creates a contact under the organization specified in the organization_id
        parameter.        Returns the created object if successful. Use the nested
        relationships route to add         multiple contacts to an organization in
        bulk.
      parameters:
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Contacts
    patch:
      summary: Bulk update contacts
      description: Updates a list of contacts, also known as bulk updating. Bulk updates
        using a nested relationships         route are not supported. Returns 422
        Bad Request error if trying to update an externally synced record.
      parameters:
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[first_name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[last_name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[title]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[contact_type_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[important]
        in: query
        description: Must be one of:true,false,1,0.
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
      - name: filter[primary_email]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[psa_id]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
          enum:
          - manage
          - autotask
          - tigerpaw
          - kaseya-bms
          - pulseway-psa
          - vorex
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Contacts
    delete:
      summary: Bulk delete contacts
      description: Deletes one or more specified contacts. Returns the deleted contacts
        and a 200 status code if successful.
      parameters:
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[first_name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[last_name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[title]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[contact_type_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[important]
        in: query
        description: Must be one of:true,false,1,0.
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
      - name: filter[primary_email]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[psa_id]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
          enum:
          - manage
          - autotask
          - tigerpaw
          - kaseya-bms
          - pulseway-psa
          - vorex
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Contacts
  /contacts/{id}:
    get:
      summary: Get a specific contact by ID
      description: 'Returns the details of an existing contact.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      - name: include
        in: query
        description: Must be one of:adapters_resources,location,passwords,attachments,tickets,distinct_remote_contacts,resource_fields,user_resource_accesses,group_resource_accesses,recent_versions,related_items,authorized_users.
        required: false
        schema:
          type: string
          enum:
          - adapters_resources
          - location
          - passwords
          - attachments
          - tickets
          - distinct_remote_contacts
          - resource_fields
          - user_resource_accesses
          - group_resource_accesses
          - recent_versions
          - related_items
          - authorized_users
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Contacts
    patch:
      summary: Update a specific contact
      description: Updates the details of an existing contact. Returns 422 Bad Request
        error if trying to update an         externally synced record.
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Contacts
  /countries:
    get:
      summary: List all countries
      description: 'Returns a list of supported countries.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:name,id,created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - name
          - id
          - created_at
          - updated_at
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[name]
        in: query
        description: exact match only
        required: false
        schema:
          type: string
      - name: filter[iso]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Countries
  /countries/{country_id}/relationships/regions:
    get:
      summary: List all regions
      description: 'Returns a list of supported regions.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: country_id
        in: path
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:name,id,created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - name
          - id
          - created_at
          - updated_at
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[name]
        in: query
        description: exact match only
        required: false
        schema:
          type: string
      - name: filter[iso]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[country_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Regions
  /countries/{country_id}/relationships/regions/{id}:
    get:
      summary: Get a specific region by ID
      description: 'Returns the details of one of the supported regions.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: country_id
        in: path
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Regions
  /countries/{id}:
    get:
      summary: Get a specific countrie by ID
      description: 'Returns the details of one of the supported countries.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Countries
  /documents:
    patch:
      summary: Bulk update documents
      description: Updates a list of items, also known as bulk updating.
      parameters:
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Documents
  /documents/{id}:
    patch:
      summary: Update a specific document
      description: Updates an existing document. Returns the updated object if successful.
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: organization_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
      security:
      - apiKeyAuth: []
      tags:
      - Documents
  /domains:
    get:
      summary: List all domains
      description: 'Returns a list of domains for all organizations or for a specified
        organization.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - created_at
          - updated_at
      - name: organization_id
        in: query
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[organization_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: include
        in: query
        description: Must be one of:passwords,attachments,user_resource_accesses,group_resource_accesses.
        required: false
        schema:
          type: string
          enum:
          - passwords
          - attachments
          - user_resource_accesses
          - group_resource_accesses
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Domains
  /expirations:
    get:
      summary: List all expirations
      description: 'Returns a list of expirations for all organizations or for a specified
        organization.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:id,organization_id,expiration_date,created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - id
          - organization_id
          - expiration_date
          - created_at
          - updated_at
      - name: organization_id
        in: query
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[resource_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[resource_name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[resource_type_name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[description]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[expiration_date]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[range]
        in: query
        description: "To filter on a specific range, supply two comma-separated values\
          \ (e.g. â\x80\x9C2, 10â\x80\x9D is filtering for all that are greater than\
          \ or equal to 2 and less than or equal to 10). Or, an asterisk ( * ) can\
          \ filter on values either greater than or equal to (e.g. â\x80\x9C2, *â\x80\
          \x9D), or less than or equal to (â\x80\x9C*, 10â\x80\x9D)"
        required: false
        schema:
          type: object
      - name: filter[range][expiration_date]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Expirations
  /expirations/{id}:
    get:
      summary: Get a specific expiration by ID
      description: 'Returns a single expiration with the given ID or a single expiration
        for a specified organization.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      - name: organization_id
        in: query
        description: Only required for nested relationships route.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Expirations
  /exports:
    get:
      summary: List all exports
      description: 'Returns a list of exports in your account.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - created_at
          - updated_at
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
      - Exports
    post:
      summary: Create exports
      description: Creates a new export under the current account. The new export
        will be for a single organization if organization_id is specified; otherwise
        The new export will be for all organizations of the current account. Returns
        the created export record if successful.
      parameters:
      - name: type
        in: query
        description: Must be one of:exports.
        required: true
        schema:
          type: string
          enum:
          - exports
      - name: attributes
        in: query
        description: Must be a Hash
        required: true
        schema:
          type: object
      - name: attributes[organization_id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: attributes[include_logs]
        in: query
        description: Defaults to false if not provided
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
      - name: attributes[zip_password]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Exports
  /exports/{id}:
    get:
      summary: Get a specific export by ID
      description: '''Retrieve a particular export for current account.''


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      - name: include
        in: query
        description: 'Must be one of: .'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Exports
    delete:
      summary: Delete a specific export
      description: Delete an export. Returns a 204 status code if successful.
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Exports
  /flexible_asset_fields:
    post:
      summary: Create flexible asset fields
      description: Creates a new field under the flexible asset type specified in
        the ID parameter. Returns the created object if successful. Use the nested
        relationships route to add multiple fields to a flexible asset type in bulk.
      parameters:
      - name: flexible_asset_type_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Flexible Asset Fields
    patch:
      summary: Bulk update flexible asset fields
      description: Updates a list of fields, also known as bulk updating. Bulk updates
        using a nested relationships route are not supported. Returns 422 error if
        trying to change the kind attribute of fields that are already in use.
      parameters:
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Flexible Asset Fields
  /flexible_asset_fields/{id}:
    get:
      summary: Get a specific flexible asset field by ID
      description: 'Returns the details of an existing field.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      - name: flexible_asset_type_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Flexible Asset Fields
    patch:
      summary: Update a specific flexible asset field
      description: Updates the details of an existing field. Returns 422 error if
        trying to change the kind attribute of fields that are already in use.
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: flexible_asset_type_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
      tags:
      - Flexible Asset Fields
    delete:
      summary: Delete a specific flexible asset field
      description: Destroys a single flexible asset field with its ID. Returns a 204
        status code if successful. Note that this action will cause data loss if the
        field is already in use.
      parameters:
      - name: id
        in: path
        description: Must be a number.
        required: true
        schema:
          type: integer
      - name: flexible_asset_type_id
        in: query
        description: Only required for nested relationships route
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Bad credentials
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
      tags:
      - Flexible Asset Fields
  /flexible_asset_types:
    get:
      summary: List all flexible asset types
      description: 'Returns a list of flexible asset types in your account.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Must be one of:id,name,created_at,updated_at.
        required: false
        schema:
          type: string
          enum:
          - id
          - name
          - created_at
          - updated_at
      - name: filter
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[name]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[icon]
        in: query
        description: Must be a String
        required: false
        schema:
          type: string
      - name: filter[enabled]
        in: query
        description: Must be one of:true,false,1,0.
        required: false
        schema:
          type: boolean
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
      - name: page
        in: query
        description: Must be a Hash
        required: false
        schema:
          type: object
      - name: include
        in: query
        description: Must be one of:flexible_asset_fields.
        required: false
        schema:
          type: string
          enum:
          - flexible_asset_fields
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
      tags:
[...]
