openapi: 3.0.0
info:
  title: ITGlue API
  version: 1.0.0
  description: 'Generated from https://github.com/jmaddington/ITG-Glue-OpenAPI


    This document strives to accurately represent IT Glue''s API in the OpenAPI 3.0
    format, but is best effort only. This is NOT

    an official IT Glue or Kaseya document.


    Find official documentation at https://api.itglue.com/developer/

    Details of pagination at https://help.itglue.kaseya.com/help/Content/1-admin/it-glue-api/pagination-in-the-it-glue-api.html

    Details of sorts and filters at https://help.itglue.kaseya.com/help/Content/1-admin/it-glue-api/sorting-and-filtering-in-the-it-glue-api.html


    **Authentication/Request Headers**

    All API requests require the following headers:

    - `x-api-key: {{api-token}}`

    - `Content-Type: application/vnd.api+json`


    Note: If the request does not have a payload, the `Content-Type` header is not
    required.'
servers:
- url: https://api.itglue.com
  description: Default API server
- url: https://api.eu.itglue.com
  description: EU data center
- url: https://api.au.itglue.com
  description: Australia data center
paths:
  /configuration_interfaces:
    post:
      summary: ''
      description: Creates a new configuration interface under the configuration specified
        in the ID parameter.         Returns the created object if successful. Use
        the nested relationships route to add multiple         configuration interfaces
        to a configuration in bulk.
      parameters:
      - name: configuration_id
        in: query
        description: 'Only required for nested relationships route.Validations:Must
          be a number.Metadata:Param Type: In URL

          Notes: Must be a valid configuration ID in your account.'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:configuration_interfaces.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][id]
        in: query
        description: Required identifier for bulk updatesValidations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][configuration_id]
        in: query
        description: Not required when using nested relationship routesValidations:Must
          be a number.
        required: true
        schema:
          type: integer
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][ip_address]
        in: query
        description: IP4 and IP6 are supportedValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][mac_address]
        in: query
        description: Must be a valid MAC addressValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][primary]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
    patch:
      summary: ''
      description: Updates a list of configuration interfaces, also known as bulk
        updating. Bulk updates using a nested         relationships route are not
        supported. Returns 422 Bad Request error if trying to update         an externally
        synced, primary IP address.
      parameters:
      - name: data
        in: query
        description: 'Validations:Must be an Array of nested elementsMetadata:Param
          Type: JSON Body Param'
        required: true
        schema:
          type: string
      - name: data[_]
        in: query
        description: "Nameless hash: should look like: {â\x80\x9Ctypeâ\x80\x9D: â\x80\
          \x9Cconfiguration_interfacesâ\x80\x9D, â\x80\x9Cattributesâ\x80\x9D:â\x80\
          ¦}Validations:Must be a Hash"
        required: false
        schema:
          type: object
      - name: data[_][type]
        in: query
        description: Validations:Must be one of:configuration_interfaces.
        required: true
        schema:
          type: string
      - name: data[_][attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[_][attributes][id]
        in: query
        description: Required identifier for bulk updatesValidations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][configuration_id]
        in: query
        description: Not required when using nested relationship routesValidations:Must
          be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][ip_address]
        in: query
        description: IP4 and IP6 are supportedValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][mac_address]
        in: query
        description: Must be a valid MAC addressValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][primary]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[_][attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[ip_address]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /configuration_interfaces/{id}:
    get:
      summary: ''
      description: 'Returns the details of an existing configuration interface.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      - name: configuration_id
        in: query
        description: 'Only required for nested relationships route.Validations:Must
          be a number.Metadata:Param Type: In URL

          Notes: Must be a valid configuration ID in your account.'
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
    patch:
      summary: ''
      description: Updates the details of an existing configuration interface. Returns
        422 Bad Request error         if trying to update an externally synced, primary
        IP address.
      parameters:
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: configuration_id
        in: query
        description: 'Only required for nested relationships route.Validations:Must
          be a number.Metadata:Param Type: In URL

          Notes: Must be a valid configuration ID in your account.'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:configuration_interfaces.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][id]
        in: query
        description: Required identifier for bulk updatesValidations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][configuration_id]
        in: query
        description: Not required when using nested relationship routesValidations:Must
          be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][ip_address]
        in: query
        description: IP4 and IP6 are supportedValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][mac_address]
        in: query
        description: Must be a valid MAC addressValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][primary]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /configuration_statuses:
    get:
      summary: ''
      description: 'Returns a list of the configuration statuses in your account.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: "Validations:Must be one of:name,id,created_at,updated_at.Metadata:Param\
          \ Type: CGI\nNotes: |\n  To Invert order use -, eg: -name\n  Comma separated\
          \ values"
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[name]
        in: query
        description: exact match onlyValidations:Must be a String
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI'
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
    post:
      summary: ''
      description: Creates a new configuration status in your account. Returns the
        created object if successful.
      parameters:
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:configuration_statuses.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /configuration_statuses/{id}:
    get:
      summary: ''
      description: 'Returns the details of an existing configuration status.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
    patch:
      summary: ''
      description: Updates a configuration status in your account. Returns 422 Bad
        Request error if trying to update an externally synced record.
      parameters:
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:configuration_statuses.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /configuration_types:
    get:
      summary: ''
      description: 'Returns a list of configuration types in your account.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: "Validations:Must be one of:name,id,created_at,updated_at.Metadata:Param\
          \ Type: CGI\nNotes: |\n  To Invert order use -, eg: -name\n  Comma separated\
          \ values"
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[name]
        in: query
        description: exact match onlyValidations:Must be a String
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI'
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
    post:
      summary: ''
      description: Creates a new configuration type in your account. Returns the created
        object if successful.
      parameters:
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:configuration_types.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Bad Request
      security:
      - apiKeyAuth: []
  /configuration_types/{id}:
    get:
      summary: ''
      description: 'Returns the details of an existing configuration type.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
    patch:
      summary: ''
      description: Updates a configuration type in your account. Returns 422 Bad Request
        error if trying to update an externally synced record.
      parameters:
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:configuration_types.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
  /configurations:
    get:
      summary: ''
      description: 'Returns a list of configurations for all organizations or for
        a specified organization.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: "Validations:Must be one of:name,id,created_at,updated_at.Metadata:Param\
          \ Type: CGI\nNotes: |\n  To Invert order use -, eg: -name\n  Comma separated\
          \ values"
        required: false
        schema:
          type: string
      - name: filter[name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[status]
        in: query
        description: Filter results by status
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: organization_id
        in: query
        description: 'Only required for nested relationships routeValidations:Must
          be a number.Metadata:Param Type: In URL

          :Notes: Must be a valid Organization Id in your Account'
        required: true
        schema:
          type: integer
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_type_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_status_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[contact_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[serial_number]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[mac_address]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[asset_tag]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_id]
        in: query
        description: 'Validations:Must be a StringMetadata:Notes: This must be accompanied
          by the filter for psa_integration_type'
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Validations:Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
      - name: filter[rmm_id]
        in: query
        description: 'Validations:Must be a StringMetadata:Notes: This must be accompanied
          by the filter for rmm_integration_type'
        required: false
        schema:
          type: string
      - name: filter[rmm_integration_type]
        in: query
        description: Validations:Must be one of:addigy,aem,atera,auvik,managed-workplace,continuum,jamf-pro,kaseya-vsa,automate,log-me-in,msp-rmm,meraki,msp-n-central,ninja-rmm,panorama9,pulseway-rmm,syncro,watchman-monitoring,office365,vsa-x.
        required: false
        schema:
          type: string
      - name: filter[archived]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI'
        required: false
        schema:
          type: object
      - name: include
        in: query
        description: 'Validations:Must be one of:adapters_resources,configuration_interfaces,rmm_records,passwords,attachments,tickets,dnet_fa_remote_assets,user_resource_accesses,group_resource_accesses.Metadata:Param
          Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
    post:
      summary: ''
      description: Creates a configuration under the organization specified in the
        ID parameter. Returns the created object         if successful. Use the nested
        relationships route to add multiple configurations to an organization in bulk.
      parameters:
      - name: organization_id
        in: query
        description: 'Only required for nested relationships routeValidations:Must
          be a number.Metadata:Param Type: In URL

          :Notes: Must be a valid Organization Id in your Account'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:configurations.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][id]
        in: query
        description: Required identifier for bulk updatesValidations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][organization_id]
        in: query
        description: Not required when using nested relationship routesValidations:Must
          be a number.
        required: true
        schema:
          type: integer
      - name: data[attributes][configuration_type_id]
        in: query
        description: Validations:Must be a number.
        required: true
        schema:
          type: integer
      - name: data[attributes][configuration_status_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][location_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][contact_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][manufacturer_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][model_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][operating_system_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][operating_system_notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: true
        schema:
          type: string
      - name: data[attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][hostname]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][primary_ip]
        in: query
        description: IP4 and IP6 are supportedValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][mac_address]
        in: query
        description: 17 Character limitValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][default_gateway]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][serial_number]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][asset_tag]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][position]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][installed_by]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][purchased_by]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][purchased_at]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][warranty_expires_at]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][mitp_device_expiration_date]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][mitp_end_of_life_date]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][installed_at]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][restricted]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[attributes][archived]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[relationships]
        in: query
        description: Not permitted in PUT/PATCH, optional in POSTValidations:Must
          be a Hash
        required: false
        schema:
          type: object
      - name: data[relationships][configuration_interfaces]
        in: query
        description: Validations:Must be a Hash
        required: false
        schema:
          type: object
      - name: data[relationships][configuration_interfaces][data]
        in: query
        description: Can contain multiple InterfacesValidations:Must be an Array of
          nested elements
        required: false
        schema:
          type: string
      - name: data[relationships][configuration_interfaces][data][_]
        in: query
        description: "Nameless hash: should look like: {â\x80\x9Ctypeâ\x80\x9D: â\x80\
          \x9Cconfiguration_interfacesâ\x80\x9D, â\x80\x9Cattributesâ\x80\x9D.â\x80\
          ¦}Validations:Must be a Hash"
        required: false
        schema:
          type: object
      - name: data[relationships][configuration_interfaces][data][_][type]
        in: query
        description: Validations:Must be one of:configuration_interfaces.
        required: true
        schema:
          type: string
      - name: data[relationships][configuration_interfaces][data][_][attributes]
        in: query
        description: Validations:Must be a Hash
        required: false
        schema:
          type: object
      - name: data[relationships][configuration_interfaces][data][_][attributes][name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[relationships][configuration_interfaces][data][_][attributes][ip_address]
        in: query
        description: IP4 and IP6 are supportedValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[relationships][configuration_interfaces][data][_][attributes][mac_address]
        in: query
        description: Must be a valid MAC addressValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[relationships][configuration_interfaces][data][_][attributes][primary]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[relationships][configuration_interfaces][data][_][attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
    patch:
      summary: ''
      description: 'Updates a list of items, also known as bulk updating. Bulk updates
        using a nested relationships route are not supported.         Returns 422
        Unprocessable Entity error if any relationships are present in the request.         Returns
        422 Unprocessable Entity error if trying to update an externally synced record
        on         attributes other than: archived, asset_tag, notes, purchased_at,
        restricted, serial_number, warranty_expires_at, mitp_device_expiration_date,
        mitp_end_of_life_date'
      parameters:
      - name: data
        in: query
        description: 'Validations:Must be an Array of nested elementsMetadata:Param
          Type: JSON Body Param'
        required: true
        schema:
          type: string
      - name: data[_]
        in: query
        description: "Nameless hash: should look like: {â\x80\x9Ctypeâ\x80\x9D: â\x80\
          \x9Cconfigurationsâ\x80\x9D, â\x80\x9Cattributesâ\x80\x9D:â\x80¦}Validations:Must\
          \ be a Hash"
        required: false
        schema:
          type: object
      - name: data[_][type]
        in: query
        description: Validations:Must be one of:configurations.
        required: true
        schema:
          type: string
      - name: data[_][attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[_][attributes][id]
        in: query
        description: Required identifier for bulk updatesValidations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][organization_id]
        in: query
        description: Not required when using nested relationship routesValidations:Must
          be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][configuration_type_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][configuration_status_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][location_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][contact_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][manufacturer_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][model_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][operating_system_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][operating_system_notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][hostname]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][primary_ip]
        in: query
        description: IP4 and IP6 are supportedValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][mac_address]
        in: query
        description: 17 Character limitValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][default_gateway]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][serial_number]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][asset_tag]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][position]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][installed_by]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][purchased_by]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][purchased_at]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][warranty_expires_at]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][mitp_device_expiration_date]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][mitp_end_of_life_date]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][installed_at]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][restricted]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[_][attributes][archived]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_type_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_status_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[contact_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[serial_number]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[mac_address]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[asset_tag]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_id]
        in: query
        description: 'Validations:Must be a StringMetadata:Notes: This must be accompanied
          by the filter for psa_integration_type'
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Validations:Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
      - name: filter[rmm_id]
        in: query
        description: 'Validations:Must be a StringMetadata:Notes: This must be accompanied
          by the filter for rmm_integration_type'
        required: false
        schema:
          type: string
      - name: filter[rmm_integration_type]
        in: query
        description: Validations:Must be one of:addigy,aem,atera,auvik,managed-workplace,continuum,jamf-pro,kaseya-vsa,automate,log-me-in,msp-rmm,meraki,msp-n-central,ninja-rmm,panorama9,pulseway-rmm,syncro,watchman-monitoring,office365,vsa-x.
        required: false
        schema:
          type: string
      - name: filter[archived]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
    delete:
      summary: ''
      description: Deletes one or more specified configurations. Returns the deleted
        configurations and a 200 status code if successful.
      parameters:
      - name: data
        in: query
        description: 'Validations:Must be an Array of nested elementsMetadata:Param
          Type: JSON Body Param

          Notes: Cannot be used in combination with filter'
        required: true
        schema:
          type: string
      - name: data[_]
        in: query
        description: "Nameless hash: should look like: {â\x80\x9Ctypeâ\x80\x9D: â\x80\
          \x9Cconfigurationsâ\x80\x9D, â\x80\x9Cattributesâ\x80\x9D:â\x80¦}Validations:Must\
          \ be a Hash"
        required: false
        schema:
          type: object
      - name: data[_][type]
        in: query
        description: Validations:Must be one of:configurations.
        required: true
        schema:
          type: string
      - name: data[_][attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[_][attributes][id]
        in: query
        description: Validations:Must be a number.
        required: true
        schema:
          type: integer
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_type_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[configuration_status_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[contact_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[serial_number]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[mac_address]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[asset_tag]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[psa_id]
        in: query
        description: 'Validations:Must be a StringMetadata:Notes: This must be accompanied
          by the filter for psa_integration_type'
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Validations:Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
      - name: filter[rmm_id]
        in: query
        description: 'Validations:Must be a StringMetadata:Notes: This must be accompanied
          by the filter for rmm_integration_type'
        required: false
        schema:
          type: string
      - name: filter[rmm_integration_type]
        in: query
        description: Validations:Must be one of:addigy,aem,atera,auvik,managed-workplace,continuum,jamf-pro,kaseya-vsa,automate,log-me-in,msp-rmm,meraki,msp-n-central,ninja-rmm,panorama9,pulseway-rmm,syncro,watchman-monitoring,office365,vsa-x.
        required: false
        schema:
          type: string
      - name: filter[archived]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /configurations/{configuration_id}/relationships/configuration_interfaces:
    get:
      summary: ''
      description: 'Returns the configuration interfaces for a specified configuration.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: configuration_id
        in: path
        description: 'Only required for nested relationships route.Validations:Must
          be a number.Metadata:Param Type: In URL

          Notes: Must be a valid configuration ID in your account.'
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: "Validations:Must be one of:created_at,updated_at.Metadata:Param\
          \ Type: CGI\nNotes: |\n  To Invert order use -, eg: -name\n  Comma separated\
          \ values"
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[ip_address]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI'
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
    post:
      summary: ''
      description: Creates a new configuration interface under the configuration specified
        in the ID parameter.         Returns the created object if successful. Use
        the nested relationships route to add multiple         configuration interfaces
        to a configuration in bulk.
      parameters:
      - name: configuration_id
        in: path
        description: 'Only required for nested relationships route.Validations:Must
          be a number.Metadata:Param Type: In URL

          Notes: Must be a valid configuration ID in your account.'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:configuration_interfaces.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][id]
        in: query
        description: Required identifier for bulk updatesValidations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][configuration_id]
        in: query
        description: Not required when using nested relationship routesValidations:Must
          be a number.
        required: true
        schema:
          type: integer
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][ip_address]
        in: query
        description: IP4 and IP6 are supportedValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][mac_address]
        in: query
        description: Must be a valid MAC addressValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][primary]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /configurations/{configuration_id}/relationships/configuration_interfaces/{id}:
    get:
      summary: ''
      description: 'Returns the details of an existing configuration interface.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: configuration_id
        in: path
        description: 'Only required for nested relationships route.Validations:Must
          be a number.Metadata:Param Type: In URL

          Notes: Must be a valid configuration ID in your account.'
        required: true
        schema:
          type: integer
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
    patch:
      summary: ''
      description: Updates the details of an existing configuration interface. Returns
        422 Bad Request error         if trying to update an externally synced, primary
        IP address.
      parameters:
      - name: configuration_id
        in: path
        description: 'Only required for nested relationships route.Validations:Must
          be a number.Metadata:Param Type: In URL

          Notes: Must be a valid configuration ID in your account.'
        required: true
        schema:
          type: integer
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:configuration_interfaces.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][id]
        in: query
        description: Required identifier for bulk updatesValidations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][configuration_id]
        in: query
        description: Not required when using nested relationship routesValidations:Must
          be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][ip_address]
        in: query
        description: IP4 and IP6 are supportedValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][mac_address]
        in: query
        description: Must be a valid MAC addressValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][primary]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /configurations/{id}:
    get:
      summary: ''
      description: 'Returns the details of an existing configuration.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      - name: organization_id
        in: query
        description: 'Only required for nested relationships routeValidations:Must
          be a number.Metadata:Param Type: In URL

          :Notes: Must be a valid Organization Id in your Account'
        required: true
        schema:
          type: integer
      - name: include
        in: query
        description: 'Validations:Must be one of:adapters_resources,configuration_interfaces,rmm_records,rmm_adapters_resources,passwords,attachments,tickets,adapters_resources_errors,rmm_adapters_resources_errors,active_network_glue_network_devices,to_configuration_connections,from_configuration_connections,dnet_fa_remote_assets,user_resource_accesses,group_resource_accesses,recent_versions,related_items,authorized_users.Metadata:Param
          Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
    patch:
      summary: ''
      description: 'Updates the details of an existing configuration.         Returns
        422 Unprocessable Entity error if any relationships are present in the request.         Returns
        422 Unprocessable Entity error if trying to update an externally synced record
        on         attributes other than: archived, asset_tag, notes, purchased_at,
        restricted, serial_number, warranty_expires_at, mitp_device_expiration_date,
        mitp_end_of_life_date'
      parameters:
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: organization_id
        in: query
        description: 'Only required for nested relationships routeValidations:Must
          be a number.Metadata:Param Type: In URL

          :Notes: Must be a valid Organization Id in your Account'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:configurations.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][id]
        in: query
        description: Required identifier for bulk updatesValidations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][organization_id]
        in: query
        description: Not required when using nested relationship routesValidations:Must
          be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][configuration_type_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][configuration_status_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][location_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][contact_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][manufacturer_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][model_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][operating_system_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][operating_system_notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][hostname]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][primary_ip]
        in: query
        description: IP4 and IP6 are supportedValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][mac_address]
        in: query
        description: 17 Character limitValidations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][default_gateway]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][serial_number]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][asset_tag]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][position]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][installed_by]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][purchased_by]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][purchased_at]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][warranty_expires_at]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][mitp_device_expiration_date]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][mitp_end_of_life_date]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][installed_at]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][restricted]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[attributes][archived]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /contact_types:
    get:
      summary: ''
      description: 'Returns a list of contact types in your account.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: "Validations:Must be one of:name,id,created_at,updated_at.Metadata:Param\
          \ Type: CGI\nNotes: |\n  To Invert order use -, eg: -name\n  Comma separated\
          \ values"
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[name]
        in: query
        description: exact match onlyValidations:Must be a String
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI'
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
    post:
      summary: ''
      description: Creates a new contact type in your account. Returns the created
        object if successful.
      parameters:
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:contact_types.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /contact_types/{id}:
    get:
      summary: ''
      description: 'Returns the details of an existing contact type.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: page[size]
        in: query
        description: Number of items per page (max 1000)
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: Field by which to sort the results. Prepend '-' for descending
          order.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
      - apiKeyAuth: []
    patch:
      summary: ''
      description: Updates a contact type in your account. Returns 422 Bad Request
        error if trying to update         an externally synced record.
      parameters:
      - name: id
        in: path
        description: 'Validations:Must be a number.Metadata:Param Type: In URL'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:contact_types.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][name]
        in: query
        description: Validations:Must be a String
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /contacts:
    get:
      summary: ''
      description: 'Returns a list of contacts for all organizations or for a specified
        organization.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: page[size]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          maximum: 1000
      - name: page[number]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sort
        in: query
        description: "Validations:Must be one of:first_name,last_name,id,created_at,updated_at.Metadata:Param\
          \ Type: CGI\nNotes: |\n  To Invert order use -, eg: -name\n  Comma separated\
          \ values"
        required: false
        schema:
          type: string
      - name: organization_id
        in: query
        description: 'Only required for nested relationships routeValidations:Must
          be a number.Metadata:Param Type: In URL

          :Notes: Must be a valid Organization Id in your Account'
        required: true
        schema:
          type: integer
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[first_name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[last_name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[title]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[contact_type_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[important]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: filter[primary_email]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[psa_id]
        in: query
        description: 'Validations:Must be a StringMetadata:Notes: This must be accompanied
          by the filter for psa_integration_type'
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Validations:Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI'
        required: false
        schema:
          type: object
      - name: include
        in: query
        description: 'Validations:Must be one of:adapters_resources,location,passwords,attachments,tickets,distinct_remote_contacts,resource_fields,user_resource_accesses,group_resource_accesses.Metadata:Param
          Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - apiKeyAuth: []
    post:
      summary: ''
      description: Creates a contact under the organization specified in the organization_id
        parameter.        Returns the created object if successful. Use the nested
        relationships route to add         multiple contacts to an organization in
        bulk.
      parameters:
      - name: organization_id
        in: query
        description: 'Only required for nested relationships routeValidations:Must
          be a number.Metadata:Param Type: In URL

          :Notes: Must be a valid Organization Id in your Account'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: JSON Body Param'
        required: true
        schema:
          type: object
      - name: data[type]
        in: query
        description: Validations:Must be one of:contacts.
        required: true
        schema:
          type: string
      - name: data[attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[attributes][id]
        in: query
        description: Required identifier for bulk updatesValidations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][organization_id]
        in: query
        description: Not required when using nested relationship routesValidations:Must
          be a number.
        required: true
        schema:
          type: integer
      - name: data[attributes][contact_type_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][location_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[attributes][first_name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][last_name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][title]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][important]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[attributes][restricted]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[contact_emails]
        in: query
        description: Can contain multiple emailsValidations:Must be an Array of nested
          elements
        required: false
        schema:
          type: string
      - name: data[contact_emails][_]
        in: query
        description: "Nameless hash, should look like: {â\x80\x9Cvalueâ\x80\x9D: â\x80\
          \x9Cemail@company.comâ\x80\x9D, â\x80\x9Cprimaryâ\x80\x9D: true, â\x80¦}Validations:Must\
          \ be a Hash"
        required: false
        schema:
          type: object
      - name: data[contact_emails][_][value]
        in: query
        description: Must be a valid email address formatValidations:Must be a String
        required: true
        schema:
          type: string
      - name: data[contact_emails][_][label_name]
        in: query
        description: Validations:Must be a String
        required: true
        schema:
          type: string
      - name: data[contact_emails][_][primary]
        in: query
        description: Defaults to false if not provided.Validations:Must be one of:true,false.
        required: false
        schema:
          type: string
      - name: data[contact_phones]
        in: query
        description: Can contain multiple phonesValidations:Must be an Array of nested
          elements
        required: false
        schema:
          type: string
      - name: data[contact_phones][_]
        in: query
        description: "Nameless hash: should look like: {â\x80\x9Cvalueâ\x80\x9D: â\x80\
          \x9C2341112233â\x80\x9D, â\x80\x9Cprimaryâ\x80\x9D: true, â\x80¦}Validations:Must\
          \ be a Hash"
        required: false
        schema:
          type: object
      - name: data[contact_phones][_][value]
        in: query
        description: Phone numbers are stripped of all separators.Validations:Must
          be a String
        required: true
        schema:
          type: string
      - name: data[contact_phones][_][label_name]
        in: query
        description: Validations:Must be a String
        required: true
        schema:
          type: string
      - name: data[contact_phones][_][extension]
        in: query
        description: Phone extensions are stripped of all separators.Validations:Must
          be a String
        required: false
        schema:
          type: string
      - name: data[contact_phones][_][primary]
        in: query
        description: Defaults to false if not provided.Validations:Must be one of:true,false.
        required: false
        schema:
          type: string
      - name: data[contact_phones][_][label_type]
        in: query
        description: Defaults to phone if not provided.Validations:Must be one of:phone,fax.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
    patch:
      summary: ''
      description: Updates a list of contacts, also known as bulk updating. Bulk updates
        using a nested relationships         route are not supported. Returns 422
        Bad Request error if trying to update an externally synced record.
      parameters:
      - name: data
        in: query
        description: 'Validations:Must be an Array of nested elementsMetadata:Param
          Type: JSON Body Param'
        required: true
        schema:
          type: string
      - name: data[_]
        in: query
        description: "Nameless hash: should look like: {â\x80\x9Ctypeâ\x80\x9D: â\x80\
          \x9Ccontactsâ\x80\x9D, â\x80\x9Cattributesâ\x80\x9D:â\x80¦}Validations:Must\
          \ be a Hash"
        required: false
        schema:
          type: object
      - name: data[_][type]
        in: query
        description: Validations:Must be one of:contacts.
        required: true
        schema:
          type: string
      - name: data[_][attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[_][attributes][id]
        in: query
        description: Required identifier for bulk updatesValidations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][organization_id]
        in: query
        description: Not required when using nested relationship routesValidations:Must
          be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][contact_type_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][location_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: data[_][attributes][first_name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][last_name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][title]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][important]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: data[_][attributes][notes]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: data[_][attributes][restricted]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[first_name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[last_name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[title]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[contact_type_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[important]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: filter[primary_email]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[psa_id]
        in: query
        description: 'Validations:Must be a StringMetadata:Notes: This must be accompanied
          by the filter for psa_integration_type'
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Validations:Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
    delete:
      summary: ''
      description: Deletes one or more specified contacts. Returns the deleted contacts
        and a 200 status code if successful.
      parameters:
      - name: organization_id
        in: query
        description: 'Only required for nested relationships routeValidations:Must
          be a number.Metadata:Param Type: In URL

          :Notes: Must be a valid Organization Id in your Account'
        required: true
        schema:
          type: integer
      - name: data
        in: query
        description: 'Validations:Must be an Array of nested elementsMetadata:Param
          Type: JSON Body Param

          Notes: Cannot be used in combination with filter'
        required: true
        schema:
          type: string
      - name: data[_]
        in: query
        description: "Nameless hash: should look like: {â\x80\x9Ctypeâ\x80\x9D: â\x80\
          \x9Ccontactsâ\x80\x9D, â\x80\x9Cattributesâ\x80\x9D:â\x80¦}Validations:Must\
          \ be a Hash"
        required: false
        schema:
          type: object
      - name: data[_][type]
        in: query
        description: Validations:Must be one of:contacts.
        required: true
        schema:
          type: string
      - name: data[_][attributes]
        in: query
        description: Validations:Must be a Hash
        required: true
        schema:
          type: object
      - name: data[_][attributes][id]
        in: query
        description: Validations:Must be a number.
        required: true
        schema:
          type: integer
      - name: filter
        in: query
        description: 'Validations:Must be a HashMetadata:Param Type: CGI

          Notes: Comma separated values'
        required: false
        schema:
          type: object
      - name: filter[id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[first_name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[last_name]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[title]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[contact_type_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[important]
        in: query
        description: Validations:Must be one of:true,false,1,0.
        required: false
        schema:
          type: string
      - name: filter[primary_email]
        in: query
        description: Validations:Must be a String
        required: false
        schema:
          type: string
      - name: filter[organization_id]
        in: query
        description: Validations:Must be a number.
        required: false
        schema:
          type: integer
      - name: filter[psa_id]
        in: query
        description: 'Validations:Must be a StringMetadata:Notes: This must be accompanied
          by the filter for psa_integration_type'
        required: false
        schema:
          type: string
      - name: filter[psa_integration_type]
        in: query
        description: Validations:Must be one of:manage,autotask,tigerpaw,kaseya-bms,pulseway-psa,vorex.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '415':
          description: Unsupported Media Type
        '422':
          description: Unprocessable Entity
      security:
      - apiKeyAuth: []
  /contacts/{id}:
    get:
      summary: ''
      description: 'Returns the details of an existing contact.


        Note: The maximum number of results that can be requested is 1000. If your
        requests are timing out, try lowering the page size.'
      parameters:
      - name: id
[...]
